# Файл с секретными данными (ключи API, токен бота)
.env

# Виртуальное окружение Python
venv/
.venv/

# Папки с кэшем Python
__pycache__/
*.pyc

# Файлы и папки IDE PyCharm
.idea/

# Системные файлы macOS
.DS_Store

# Папки с логами и результатами тестов, если вы не хотите их хранить в Git
logs/
backtest_results/

# Файлы с данными для бэктеста (обычно они большие)
backtest_data/